##############################
# data paths
# common variables
##############################

# docker path
docker=wenlongshen/hicexplorer:0.0
work_dir=/run/media/wenlong/Projects/IPF
run_cmd="docker run --rm -v ${work_dir}:/sodas/ -w /sodas ${docker}"

selectUnique=0_databases/scripts/selectUniqueMap.py
hmmratac=0_databases/scripts/HMMRATAC_V1.2.10_exe.jar

# the number of threads per job/sample
maxmem=96G
threads=64

# tools selection
pipeline=sodas
aligner=bowtie2

# samples info
project_name=mm_ipf_atac
samples=("B-1" "B-2" "B-3" "S-1" "S-2" "S-3" "T-1" "T-2" "T-3")
sample_names=("B" "S" "T")
rep_numbers=("1" "2" "3")

# ATAC info
chrom="chr1 chr2 chr3 chr4 chr5 chr6 chr7 chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chrX chrY"

# bowtie2
bowtie2_para="--local --very-sensitive-local --no-unal --no-mixed --no-discordant --phred33 -I 10 -X 700"

# macs2
macs2_para="-g mm -B -p 0.01"
# --shift -100 --extsize 200 and --shift -37 --extsize 73

# hmmratac
hmmratac_para="-u 60 -l 25 --score max --bedgraph True"

# file path
rawdata_dir=0_rawdata/ATAC-seq
cleandata_dir=1_cleandata/ATAC-seq
mapping_dir=2_mapping/ATAC-seq
atac_dir=4_atac
macs2_dir=0_macs2
hmmratac_dir=0_hmmratac

# reference for mapping
reference_version=mm39
reference_size=0_databases/mm39/fasta/mm39.chrom.sizes
reference_fa=0_databases/mm39/fasta/mm39.fa
reference_bowtie2=0_databases/mm39/reference/bowtie2/mm39_bowtie2
