##############################
# data paths
# common variables
##############################

# docker path
docker=wenlongshen/hicexplorer:0.0
work_dir=/run/media/wenlong/Projects/IPF
run_cmd="docker run --rm -v ${work_dir}:/sodas/ -w /sodas ${docker}"

# the number of threads per job/sample
maxmem=96G
threads=64

# tools selection
pipeline=sodas
aligner=hisat2

# samples info
project_name=mm_ipf_rna
samples=("B-1" "B-2" "B-3" "S-1" "S-2" "S-3" "T-1" "T-2" "T-3")
sample_names=("B" "S" "T")
rep_numbers=("1" "2" "3")

# RNA info
chrom="chr1 chr2 chr3 chr4 chr5 chr6 chr7 chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chrX chrY"

# file path
rawdata_dir=0_rawdata/RNA-seq
cleandata_dir=1_cleandata/RNA-seq
mapping_dir=2_mapping/RNA-seq
stringtie_dir=5_rna/0_stringtie

# reference for mapping
reference_version=mm39
reference_size=0_databases/mm39/fasta/mm39.chrom.sizes
reference_fa=0_databases/mm39/fasta/mm39.fa
reference_hisat2=0_databases/mm39/reference/hisat2/mm39_hisat2
reference_gtf=0_databases/mm39/gene/refGene.gtf

