##############################
# data paths
# common variables
##############################

# docker path
docker=wenlongshen/shadow:0.4
work_dir=/media/wenlong/Pipelines/Shadow/
run_cmd="docker run --rm -v ${work_dir}:/shadow/ -w /shadow ${docker}"

# the number of threads per job/sample
maxmem=96G
threads=64

# tools selection
pipeline=shadow_hic
aligner=bowtie2

# samples info
project_name=mm_ipf_hic
samples=("B-1" "B-2" "B-3" "S-1" "S-2" "S-3")
sample_names=("B" "S")
rep_numbers=("1" "2" "3")

# HiC info
enzyme=HindIII
restriction_site=AAGCTT
dangling_end=AGCT
resolutions=("10000" "20000" "100000")
chrom="chr1 chr2 chr3 chr4 chr5 chr6 chr7 chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chrX chrY"

# bowtie2
bowtie2_para="--local --reorder"

# hicexplorer
normalize_method=smallest
setToZeroThreshold=1

# file path
rawdata_dir=1_rawdata/Hi-C/raw
cleandata_dir=1_rawdata/Hi-C/clean
mapping_dir=2_mapping/Hi-C
hic_dir=3_hic/0_hicexplorer
hic_raw_dir=0_raw
hic_corrected_dir=1_corrected
hic_domain_dir=2_domains
hic_ab_dir=0_ab
hic_tad_dir=1_tad
hic_loop_dir=2_loop

# reference for mapping
reference_version=mm39
reference_size=0_databases/genomes/mm39/fasta/mm39.chrom.sizes
reference_fa=0_databases/genomes/mm39/fasta/mm39.fa
reference_bowtie2=0_databases/genomes/mm39/bwt2_index/mm39_bowtie2
