##############################
# data paths
# common variables
##############################

# docker path
shadow_docker=wenlongshen/shadow:0.2
vep_docker=ensemblorg/ensembl-vep:release_99.2

work_dir=/mnt/hgfs/vmwareFolder/wgs/Demo/

fastp="docker run --rm -v ${work_dir}:/shadow/ -w /shadow ${shadow_docker} fastp"
bwa="docker run --rm -v ${work_dir}:/shadow/ -w /shadow ${shadow_docker} bwa"
gatk="docker run --rm -v ${work_dir}:/shadow/ -w /shadow ${shadow_docker} gatk"
vep="docker run --rm -v ${work_dir}:/shadow/ -w /shadow ${vep_docker} vep"

# the number of threads per job/sample
maxmem=16G
threads=8

# tools selection
discovery=germline # somatic
call_snps=true
call_indels=true
call_cnvs=false
filtration_vqsr=true
filtration_hard=false
pipeline=gatk
aligner=bwa
annotation=vep # funcotator,vep

# samples info
project_name=test
samples=Sample1,Sample2

# file path
rawdata_dir=0_rawdata
cleandata_dir=1_cleandata
mapping_dir=2_mapping
bqsr_dir=3_gatk_bqsr
hc_dir=4_gatk_hc
vqsr_dir=5_gatk_vqsr
hard_dir=5_gatk_hard
final_vcf_dir=6_final_vcf
anno_dir=7_anno

# reference for mapping
reference_version=hg38
reference_fa=0_databases/GRCh38/reference/fasta/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna
reference_bwa=0_databases/GRCh38/reference/bwa_index/GRCh38_bwa
hapmap=0_databases/GRCh38/gatkbundle/hapmap_3.3.hg38.vcf.gz
omni=0_databases/GRCh38/gatkbundle/1000G_omni2.5.hg38.vcf.gz
G1000=0_databases/GRCh38/gatkbundle/1000G_phase1.snps.high_confidence.hg38.vcf.gz
dbsnp=0_databases/GRCh38/gatkbundle/dbsnp_146.hg38.vcf.gz
mills=0_databases/GRCh38/gatkbundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz
annotation_funcotator=0_databases/GRCh38/funcotator/germline
annotation_vep=0_databases/GRCh38/vep

# gatk vqsr params
resource_hapmap="--resource:hapmap,known=false,training=true,truth=true,prior=15.0 ${hapmap}"
resource_omni="--resource:omni,known=false,training=true,truth=true,prior=12 ${omni}"
resource_1000G="--resource:1000G,known=false,training=true,truth=false,prior=10.0 ${G1000}"
resource_dbsnp="--resource:dbsnp,known=true,training=false,truth=false,prior=2.0 ${dbsnp}"
resource_mills="--resource:mills,known=false,training=true,truth=true,prior=12.0 ${mills}"
snps_vqsr_params="-an DP -an FS -an MQ -an QD -an SOR -an MQRankSum -an ReadPosRankSum \
	-mode SNP \
	-tranche 100.0 -tranche 99.9 -tranche 99.0 -tranche 90.0 \
	--max-gaussians 4"
indels_vqsr_params="-an DP -an FS -an MQ -an QD -an SOR -an MQRankSum -an ReadPosRankSum \
	-mode INDEL \
	-tranche 100.0 -tranche 99.9 -tranche 99.0 -tranche 90.0 \
	--max-gaussians 4"
ts_filter_level="-ts-filter-level 99.0"

# gatk hardfilter params
