##############################
# data paths
# common variables
##############################

# docker path
docker=wenlongshen/shadow:0.4
work_dir=/media/wenlong/Pipelines/Shadow/
run_cmd="docker run --rm -v ${work_dir}:/shadow/ -w /shadow ${docker}"

separateReads=0_scripts/separateReads.py
mappingSummary=0_scripts/mappingSummary.py

# the number of threads per job/sample
maxmem=32G
threads=8

# tools selection
pipeline=shadow_atac
aligner=bowtie2

# samples info
project_name=cell_cycle_atac
samples=("Hela-I_1" "Hela-I_2" "Hela-M_1" "Hela-M_2" "K562-I_1" "K562-I_2" "K562-M_1" "K562-M_2")
sample_names=("Hela-I" "Hela-M" "K562-I" "K562-M")
cell_names=("Hela" "K562")
rep_numbers=("1" "2")

# chrom info
chrom="chr1 chr2 chr3 chr4 chr5 chr6 chr7 chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chr20 chr21 chr22 chrX chrY"

# bowtie2
bowtie2_para="--very-sensitive --no-mixed --no-discordant --phred33 -I 10 -X 1000 --reorder"

# mapq threshold
mapq_thresh=30

# macs3
macs3_para="-f BAMPE --call-summits -g hs -B -p 0.01"

# idr
chipr_para="-m 2"


# file path
rawdata_dir=1_rawdata/ATAC/raw
cleandata_dir=1_rawdata/ATAC/clean
mapping_dir=2_mapping
bowtie2_dir=2_mapping/bowtie2
tn5shift_dir=2_mapping/tn5shift
mergedBam_dir=2_mapping/mergedBam
macs3_dir=3_peak/macs3
chipr_dir=3_peak/chipr

# reference for mapping
reference_version=GRCh38
reference_size=0_databases/genomes/GRCh38/fasta/GRCh38.chrom.sizes
reference_fa=0_databases/genomes/GRCh38/fasta/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna
reference_bowtie2=0_databases/genomes/GRCh38/bwt2_index/GRCh38_bowtie2

# from deeptools https://deeptools.readthedocs.io/en/latest/content/feature/effectiveGenomeSize.html
reference_genomesize=2913022398
